<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home</title>
    <link type="text/css" rel="stylesheet" href="/css/home.css">
</head>
  <body>
    <div id="overlay">

    </div>
    <div class="nav_bar">
      <div class="icon">
        <img src="/src/icon.png" alt="icon">
      </div>
      <div class="middle_nav">

        <div class="search">
          <input type="search" id="search_input" name="search" value="" placeholder="Search">
          <button type="button" id="search_button" name="search">Go!</button>
        </div>

        <div class="about">
          <a href="/about">About</a>
        </div>

        <div class="procedure">
          <a href="/procedure">Procedure</a>
        </div>

        <div class="login">
          <button data-model-target="#model" onclick="Login" name="button">Login</button>
          <div class="model shadow" id="model">
            <div class="boxx">
          <div class="model-header">
            <button data-close-button class="close-button" name="button">&times;</button>
          </div>
          <div class="model-body">
            <div class="icon1">
              <img src="/src/dxd.jpg" alt="">
            </div>
            <form class="login-form" action="/login" method="post">
              <div class="username">
                <!-- <span>USERNAME</span><br> -->
                <input class="fields" type="text" name="user" value="" placeholder="USERNAME">
              </div>
              <div class="password">
                <!-- <span>PASSWORD</span><br> -->
                <input class="fields" type="password" name="pass" value="" placeholder="PASSWORD">
              </div>
              <div class="submit">
                <input id="submit" type="submit" value="Login">
              </div>
              <div class="google">
                <a target="_blank" href="/google">
                  <div class="auth-images">
                    <img src="/src/google1.png" alt="">
                  </div>
                 </a>
              </div>
              <div class="google">
                <a target="_blank" href="/google">
                  <div class="auth-images">
                    <img src="/src/facebook.png" alt="">
                  </div>
                 </a>
              </div>
          </form>
          </div>
        </div>
      </div>
      </div>
      </div>
      <div class="profile_icon">
        <img src="/src/ken.jpg" alt="Profile">
      </div>
    </div>
    <div class="container">
        <h2>Donation: </h2><br>
      <% for(var i=0;i<data[0].donation.length;i++){ %>
        <div class="small-div" >
          <a href="/profile/<%=data[0].donation[i].name%>" >
          <div class="upp">
            <div class="images">
              <img src="<%= data[0].donation[i].src%>" alt="">
            </div>
            <div class="owners-info">
              <h3>Owner:<%=data[0].donation[i].onwer%></h3>
            </div>
          </div>
          <div class="upp">
            <div class="name">
              <span><%=data[0].donation[i].name%></span>
            </div>
          </a>
          </div>

        </div>
        <% } %><br>
    </div>
    <div class="container1" onclick="popUp()">
        <h2>Requests: </h2><br>
        <% for(var i=0;i<data[1].requests.length;i++){ %>
          <div class="requests">
            <div class="image">
              <img src="/src/icon.jpg" alt="">
            </div>
            <!-- <button type="button" name="button" ></button> -->
            <div class="info">
              <div class="Owner_name">Owner: <%=data[1].requests[i].name%></div>
              <div class="Book_name">Book: <%=data[1].requests[i].book%></div>
            </div>

            <div class="hidari">
              <a href="/confirmation/<%=data[1].requests[i].book%>">Donate</a>
            </div>

          </div>
          <% } %>
<script src="/js/login_pop.js" charset="utf-8"></script>
<script type="text/javascript">
  const search = document.getElementById('search_input');

  search.addEventListener('click',()=>{
    search.style.backgroundColor = '#F148FB';
    search.style.color = 'white';
    setTimeout(function () {
      search.style.backgroundColor = "#262640";
      search.style.color = '#F148FB';

    }, 500);

  });




</script>
  </body>
</html>
